h2 #{@quiz.creator_name}王
br


= render "questions/set_correct_answer", questions: @questions, quiz: @quiz, questions_count: @questions_count, complete_questions_count: @complete_questions_count
br

= render "questions/question_form", question: @question
