- content_for(:html_title) { @quiz.creator_name + "王 - 〇〇王！！" }
h2 #{@quiz.creator_name}王
br
h5 #{@challenger.question_count} / #{@questions_count}

= render "questions/judgement", quiz: @quiz, question: @question, challenger: @challenger
