- content_for(:html_title) { "〇〇王とは？ - 〇〇王！！" }
h2 〇〇王とは？
br

p 「私のことをどれだけ知ってる？」をコンセプトにした、問題の作成、回答ができるクイズアプリです！
p youtuberさん達の間で人気の企画「〇〇王」が元となっております！
br

p ↓詳しくはこちら↓
iframe[
  width="220" height="150" src="https://www.youtube.com/embed/dpHUvTzyMJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
]