- content_for(:html_title) { @quiz.creator_name + "王 - 〇〇王！！" }
h1 結果
br

h3 #{@challenger.score} / #{@questions_count} 問正解
br

= render "questions/check_the_answer"

= render "challengers/ranking"

= render "challengers/share_link"

= link_to '問題を作成する', root_path, class: 'radius btn btn-secondary'
